<!DOCTYPE html>
<html>
<head>
    <title>郵便番号から住所を検索</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/main.js"></script>
</head>
<body>
    <div class="container">
        <div class="search-panel">
            <h1>郵便番号から住所を検索</h1>
            <input id="postcode" type="text" placeholder="郵便番号を入力">
            <button onclick="search()">検索</button>
            <p id="address"></p>
            <button id="openMap" style="display: none;" onclick="openMap()">Google Mapで表示</button>
        </div>
        <div class="history-panel">
            <div class="history">
                <table id="historyTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Postcode</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody id="historyBody"></tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
